
@media (max-width: 768px) {
  #Headercontenedor {
    flex-direction: column;
align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
  }}

nav li {
    margin-right: 0;
    margin-bottom: 2;
  }
 

  

#Headercontenedor {
  background-color: #0A3143;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 2;
  width: 100%;
}

#Headercontenedor img {
  height: 50px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav li {
  margin-right: 20px;
  margin-top: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #63b1df;
  font-size: 18px;
}
.custom-button {
margin-top: 0px !important;
}
